body{
    width: 960px;
    margin: auto;
}


main section {
    display: grid;
    grid-template-columns:  repeat(3,400px);
    padding-bottom:40px;
}
img{
    width: 300px;
    height: 300px;
  
}

button{
    width: 120px;
    height: 80px; 
}